
html[dir="rtl"] select:not([size]){
    padding-left: 35px;
}



html[dir="rtl"] .megamenu {
    transform: translate(95%, 0px) !important;
}
html[dir="rtl"] .translate {
    transform: translate(5px, 40px) !important;
}
html[dir="rtl"] [data-testid="flowbite-sidebar-collapse-label"]{
    text-align: right;
    margin-right: 12px;
}

html[dir="rtl"] table tr th,html[dir="rtl"] table tr td{
    text-align: right;
}