.minisidebar-icon {
    position: fixed;
    left: 0;
    width: 80px;
    height: 100%;
    top: 0;
}
.menu-sidebar{
    height: 100%;
    width: 240px !important;
    background: var(--bs-white);
    top: 0;
    transition: left .4s ease-in-out;
    box-shadow: 7px 7px 10px rgba(0, 0, 0, .03);
    left:0px;
    transition: all 0.3s ease-in-out;
}

.menu-sidebar:hover > .hide-menu{
    display: block !important;
}

.menu-sidebar .hide-icon{
    display: none;
}
.logo img{
    margin: 0 auto;
}
.miniicons{
    height: calc(100vh - 150px);
}
.sidebar-nav li{
    margin-top: 0px !important;
}
.sidebar-nav .caption{
    padding-top: 20px !important;
    margin-top: 20px !important;
}
.sidebar-nav .caption:first-child{
    padding-top: 0 !important;
    margin-top: 0px !important;
    border-top: 0 !important;
}
.profile-menu{
    height: 0px;
    transition: height 0.3s ease-in-out;
}

.profile-menu.active{
    height: 182px;
}
/* .sidebar-dropdown{
    padding-left: 33px;
} */
.sidebar-dropdown li a:hover{
    background-color: transparent !important;
    opacity: 1;
}
.sidebar-dropdown li button:hover{
    background-color: transparent !important;
}
.sidebar-dropdown li .iconify--fad{
    height: 9px;
    width: 9px;
    margin: 0 4px;
}
.dropdown-item-icon{
    margin: 0 10px;
}


  .menu-sidebar  li {
    display: flex;
    padding: 12px 4px;
    min-height: 32px;
}
  .menu-sidebar  li.nav-small-cap {
    display: flex;
    padding: 5px;
    min-height: 32px;
    margin-top: 20px !important;
}
  .menu-sidebar  li.nav-small-cap .hide-icon {
    margin: 0px 10px 0px 10px;
}

.menu-sidebar li a p{
        max-width: 150px;
        text-overflow: ellipsis;
        overflow: hidden;
}

.menu-sidebar  .dropitems li {
    display: flex;
    flex-direction: column;
}

.menu-sidebar  .dropitems li button {
    flex-grow: 1;
    justify-content: start;
}

.menu-sidebar  .dropitems li button .iconify {
    flex-shrink: 0;
}

.menu-sidebar  .dropitems li button [data-testid="flowbite-sidebar-collapse-label"] {
    flex-grow: 1; 
    margin: 0;
    margin-left: 4px;
}

.menu-sidebar  li a {
    flex-grow: 1;
    margin-bottom: 0;
    display: block;
}

.collapsed-icon {
    margin: 0 8px 0 9px !important;
}


@media (min-width: 1199px) {

    [data-sidebar-type="mini-sidebar"] .menu-sidebar {
        width: 65px !important;
        overflow: hidden;
        box-shadow: 7px 7px 10px rgba(0, 0, 0, .03);
    }

    [data-sidebar-type="mini-sidebar"] .brand-logo {
        overflow: hidden;
        margin-left: 4px;
        margin-right: 12px;
    }

    [data-sidebar-type="mini-sidebar"]:hover .brand-logo {
        width: auto;
    }



    [data-sidebar-type="mini-sidebar"] .profile-menu {
        padding-left: 0px;
    }
    /* [data-sidebar-type="mini-sidebar"] .sidebar-dropdown{
        padding-left: 0px;
    }
    [data-sidebar-type="mini-sidebar"] .menu-sidebar:hover .sidebar-dropdown{
        padding-left: 33px;
    } */
    [data-sidebar-type="mini-sidebar"] .dropdown-item-icon{
            display: block;
            margin: 0 9px;
    }
    /* [data-sidebar-type="mini-sidebar"] .menu-sidebar:hover .dropdown-item-icon{
        display: none;
    } */

     [data-sidebar-type="mini-sidebar"] .menu-sidebar:hover {
        width: 260px !important;
        cursor: pointer;
    }

    /* [data-sidebar-type="mini-sidebar"] .menu-sidebar:hover .profile-menu {
        padding-left: 51px;
    } */

    [data-sidebar-type="mini-sidebar"] .menu-sidebar:hover .hide-menu {
        display: block !important;
    }

    [data-sidebar-type="mini-sidebar"] .menu-sidebar .hide-icon {
        display: block;
    }

    [data-sidebar-type="mini-sidebar"] .menu-sidebar .hide-menu {
        display: none;
    }

    [data-sidebar-type="mini-sidebar"] .menu-sidebar:hover .hide-icon {
        display: none !important;
    }

    [data-sidebar-type="mini-sidebar"] .menu-sidebar [data-testid="flowbite-sidebar-collapse-label"] {
        display: none;
    }

    [data-sidebar-type="mini-sidebar"] .menu-sidebar:hover [data-testid="flowbite-sidebar-collapse-label"] {
        display: flex;
    }

    [data-sidebar-type="mini-sidebar"] .menu-sidebar .collapse-menu .drop-icon {
        display: none;
    }

    [data-sidebar-type="mini-sidebar"] .menu-sidebar:hover .collapse-menu .drop-icon {
        display: block;
    }

    [data-sidebar-type="mini-sidebar"] .menu-sidebar [data-testid="flowbite-sidebar-item-group"] li button {
        width: auto;
        white-space: nowrap;
    }
}
