body{
    --color-info:#46caeb;
    --color-success:#0acc95;
    --color-warning:#FFB900;
    --color-error:#ef5350;
    --color-indigo:#7460ee;
    --color-lightindigo:#7460ee20;
    --color-lightsuccess:#00ceb620;
    --color-lighterror:#FF669220;
    --color-lightinfo:#46caeb20;
    --color-lightwarning:#FFB90020;
    --color-white:#fff ;
    --color-subtlewhite:#ffffff80 ;
	--color-dark:#161b22;
    --color-border:#e5e7eb;
    --color-darkborder:#303841;
    --color-bordergray:#cfd6db;
    --color-link:#2a3547;
    --color-body:#67757c;
    --color-darkbody:#323743;
    --color-muted:#67757cbf;
    --color-darkmuted:#eaeff499;
    --color-darklink:#7b8893;
    --color-lightgray:#f4f6f9;
    --color-graylight:#e9edf2;
    --color-darkgray:#1d2228;
    --color-heading:#1d2228;
    --color-graysubtle:#67757c;
    --color-lightsubtle:#F6F6F6;
    --color-darksubtle:#292f37;
    --color-light-emphasis:#e9edf2;
    --color-error-emphasis:#d5745b;
    --color-warning-emphasis:#d9941a;
    --color-success-emphasis:#10bd9d;
    --color-surface-ld:#ffffff;
    --color-lighthover:#F6F9FC;
    --color-lightbg:#e9edf2;
}

[data-color-theme="BLUE_THEME"]{
    --color-primary: #186dde;
    --color-primary-emphasis:#1564cc;   
    --color-secondary: #545b62;
    --color-secondary-emphasis:#4e545a;
    --color-lightprimary:#186dde20;
    --color-lightsecondary:#545b6220; 

}
[data-color-theme="AQUA_THEME"]{
    --color-primary: #0074BA;
    --color-bghover:#00639e ; 
    --color-primary-emphasis:#00639e;   
    --color-secondary-emphasis:#3cb7a0;
    --color-secondary: #47D7BC;
    --color-lightprimary:#0074BA20;
    --color-lightsecondary:#00639e20;
}
[data-color-theme="PURPLE_THEME"]{
    --color-primary: #763EBD;
    --color-primary-emphasis:#6435a1;   
    --color-secondary-emphasis:#7fb0b5;
    --color-secondary: #49BEFF;
    --color-lightprimary:#763EBD20;
    --color-lightsecondary:#49BEFF20; 
}
[data-color-theme="GREEN_THEME"]{
    --color-primary: #0A7EA4;
    --color-primary-emphasis:#096b8b;   
    --color-secondary-emphasis:#d4e069;
    --color-secondary: #CCDA4E;
    --color-lightprimary:#0A7EA420;
    --color-lightsecondary:#CCDA4E20;
    
}
[data-color-theme="CYAN_THEME"]{
    --color-primary: #01C0C8;
    --color-primary-emphasis:#01a3aa;   
    --color-secondary-emphasis:#d58066;
    --color-secondary: #FB9678;
    --color-lightprimary:#01C0C820;
    --color-lightsecondary:#FB967820;
}
[data-color-theme="ORANGE_THEME"]{
    --color-primary: #FA896B;
    --color-primary-emphasis:#d5745b;   
    --color-secondary-emphasis:#00639e;
    --color-secondary: #0074BA;
    --color-lightprimary:#FA896B20;
    --color-lightsecondary:#0074BA20; 
}



